[submodule "hatchet36_circuit_board/Keebio-Parts.pretty"]
	path = hatchet36_circuit_board/Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty
[submodule "hatchet36_circuit_board/kbd"]
	path = hatchet36_circuit_board/kbd
	url = https://github.com/foostan/kbd
